{% extends "base.html" %}
{% block title %}Change Password{% endblock %}
{% block content %}
    <h1>Change Password</h1>
    <div id="id_password_form_wrapper">
    {% from "_formhelpers.html" import render_field %}
    <form method="post" action="/user/{{email}}/change_password/">
      <dl>
        {{ render_field(form.password) }}
        {{ render_field(form.confirm) }}
      </dl>
      <div class="form_buttons">
          <button name="create" id="id_cancel_button" onclick="location.href = '{{ url_for("users.list_users") }}'; return false;">Cancel</button>
          <button name="create" id="id_create_button" onclick="form.submit();">Save</button>
      </div>
    </form>
    </div>
{% endblock %}
